
.nav {
    background-color: brown;
    padding: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: brown;
    padding: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}