* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.descarga {
    padding-top: 10px;
}


.descarga a {
    text-decoration: none;
}

.btn-primary {
    background: brown;
}




.nota {
    padding: 10px;
}


.campeones{
    padding-top: 10px;
}
.float-start{
    border: solid 2px #000;
    display: inline-block;
    margin: 0px 15px 5px 10px;
}


.carriles{
    padding: 50px 30px 05px 30px;
}


.nombresecundarios{
    border: solid 2px #000;
    display: inline-block;
    background-color: brown;
}
